
 {% extends 'pitch_div.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <!-- username -->
        <div class="col-md-4">
            <h5>USERNAME: {{user.username| capitalize}} </h5>
            <!-- bio -->
            {% if user.bio %}
                <h5>BIO:  {{user.bio}}</h5>
            {%else%}
                <p> {{user.username| capitalize}} has no bio </p>
            {% endif %}
            <!-- update -->
            {% if user == current_user %}
            <a href="{{url_for('views.update_profile',username=user.username)}}">Edit profile</a>
            {% endif %}
        </div>
        <!-- profile photo -->
         <div class="col-md-4">
            {% if user.profile_pic_path %}
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
            {%else%}
            <p>No profile picture</p>
            {% endif %} 
            <!-- Update photo -->
            {% if user == current_user %}
            <form  action="{{url_for('views.update_pic',username=user.username)}}" method="post" enctype = "multipart/form-data">
        
              <input type="file"  name="photo" class="form-control" required> <br>
              <input type="submit">
            </form>
              {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <h5>My Posts</h5>
    </div>
</div>
{% endblock %}
