@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@200&display=swap'); 
/* font-family: 'Poppins', sans-serif; */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

body{
    background-color: rgb(58, 129, 104);
}
.navbar{
    background-color: transparent;
}
.nav-link { 
    font-size: 30px;
    color: black !important;  
    font-family: 'Macondo', cursive;
}

.logo{
    font-family: 'Macondo', cursive;
    font-size: 45px;
    text-decoration: none;
    color:black;
}
h2{
    font-family: 'Macondo', cursive;
} 